<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <title>Document</title>
</head>

<body>
    <form method="post" id="login-form" action="/auth/login">
        <div class=container>
            <p style="text-align: center">LOGIN</p>
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" name="id" placeholder="ID">
            <label for="loginPassword">비밀번호</label>
            <input type="password" id="loginPW" name="pw" placeholder="Password">
            <input type="text" style="display: none" name="account_type" value="manager">

        </div>
        <button type="submit">로그인</button>
        <div>
            <input type="checkbox" id="keepLogin" name="keepLogin">
            <label for="keepLogin"><span>로그인 상태 유지</span></label>
        </div>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="signupbtn" onclick="location.href='/managers'"> SignUp </button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
</body>

</html>